extends layout

block content
  if !locals.authenticated
    div(class='login-or-signup-prompt')
      span Please #[a(href="/users/login") log in] or #[a(href="/users/signup") sign up] to start asking questions.
  h1(class='landing-page-title') Welcome to Dark Overflow 
  .content-slider
    .slider
      .mask
        ul
          li.anim1
            .quote Become a Javascript Pro
          li.anim2
            .quote Get answers to your questions
          li.anim3
            .quote Upvote the best solutions
          li.anim4
            .quote Search for your favorite topic
          li.anim5
            .quote Share your code solution
  div(class='landing-page-top-10')
    p TOP 10 QUESTIONS
  div(class='landing-question-box-container')
    - var n =1
    each question in questions
      div(class=`landing-question-${n++} landing-question-box` )
        div(class='landing-question-title-text-wrapper')
          div(class='landing-question-box-title')
            a(href=`/questions/${question.dataValues.id}` class='landing-question-box-title')=question.dataValues.title
          hr(class='landing-question-box-top-divider')
          div(class='landing-question-box-text')
            p=question.dataValues.text
        hr(class='landing-question-box-top-divider')
        div(class='landing-question-box-category')
          p=`${question.Category.dataValues.name}`
        div(class='landing-question-box-score')
          p=`Score: ${question.dataValues.score}`
        div(class='landing-question-box-userName')
          p=`Asked by: ${question.Profile.dataValues.userName}`