extends layout

block content
  h1= title
  div
    p Top 10 Questions
  div
    each question in questions
      div(style={"background": 'green'  })
        p Question Div 1
        p=question.dataValues.title
        p=question.dataValues.text
        p=question.dataValues.score
        p=question.Profile.dataValues.userName



  div
    a( href="/users/login" style="color: #FFF8DC;") Back to login
  div
      a( href="/questions/1" style="color: #FFF8DC;") Question #1
  div
      a( href="/askQuestions" style="color: #FFF8DC;") Ask a question
