extends layout.pug
include utils.pug
    append head
        script(src="https://kit.fontawesome.com/898a425ea4.js" crossorigin="anonymous")
        script(src="/javascripts/question.js")
    //shove each question into a  separate DIV with an ID of its ID?
    // delete button to have the same id as the answer it's attached to

    block content
        div(class='question-page-question-box-container')
            div(class='question-page-question-box')
                div(class='question-page-question-title-text-wrapper')
                    div(class='question-page-question-box-title')=question.title
                hr(class='question-page-question-box-top-divider')
                div(class='question-page-question-box-text')
                    p=question.text
                hr(class='question-page-question-box-top-divider')
                div(class='question-page-question-box-category')
                    p=`${question.Category.dataValues.name}`
                //- if question.userId === user.id
                if locals.authenticated
                    div(class='.question-page-question-voting-icons')
                        - var foundPositiveVote = false
                        - var foundNegativeVote = false
                        each vote in question.dataValues.QuestionVotes
                            if vote.userId = question.userId
                                if vote.voteSum === 1
                                    - foundPositiveVote = true;
                                if vote.voteSum === -1
                                    - foundNegativeVote = true;
                        if foundPositiveVote === true
                            i(class="far fa-caret-square-up question-page-upvote-question-icon upvoted-arrow", id=question.id)
                        else
                            i(class="far fa-caret-square-up question-page-upvote-question-icon", id=question.id)
                        if foundNegativeVote
                            i(class="far fa-caret-square-down question-page-downvote-question-icon downvoted-arrow" id=question.id)
                        else
                            i(class="far fa-caret-square-down question-page-downvote-question-icon" id=question.id)
                else
                    div(class='.question-page-question-voting-icons')
                        i(class="far fa-caret-square-up question-page-upvote-question-icon unclickable-vote-button", id=question.id)
                        i(class="far fa-caret-square-down question-page-downvote-question-icon unclickable-vote-button" id=question.id)
                div(class='question-page-question-box-score')
                    p=`Score: `
                        span(class='question-page-question-score')=question.dataValues.score
                div(class='question-page-question-box-userName')
                    p=`Asked by: ${question.Profile.dataValues.userName}`
        if locals.authenticated
            form(action=`/answerquestion/${question.id}`, method="post" )
                textarea(name="text" id="answer-text-box")
                button( class = "answer-question-button" id = question.id type="submit") Submit

            div(id='answersDiv') Answers:
                each answer in question.dataValues.Answers
                    div(id=`answer-${answer.id}-div`)=answer.text
                        if answer.userId = user.id
                            a(class = "delete-answer-btn" href="#", id = answer.id) Delete answer
                        div=p=`Answer Score: ${answer.score}`
                            span Vote on answer quality
                            i(class="fas fa-plus-circle" id=answer.id)
                            i(class="fas fa-minus-circle" id=answer.id)
            div(id = 'deleteDiv')
                if isQuestionAsker
                    a(class = "delete-question-btn" href="#", id = question.id) Delete question
        else
            span Please #[a(href="/users/login") log in] to answer questions.
            div(id='answersDiv') Answers:
                each answer in question.dataValues.Answers
                    div=answer.text
