extends layout.pug
include utils.pug
    append head
        script(src="https://kit.fontawesome.com/898a425ea4.js" crossorigin="anonymous")
        script(src="/javascripts/question.js")
    //shove each question into a  separate DIV with an ID of its ID?
    // delete button to have the same id as the answer it's attached to

    block content
        div(class='question-page-question-box-container')
            div(class='question-page-question-box')
                div(class='question-page-question-title-text-wrapper')
                    div(class='question-page-question-box-title')=question.title
                hr(class='question-page-question-box-top-divider')
                div(class='question-page-question-box-text')
                    p(class='question-page-question-box-text-paragraph')=question.text
                hr(class='question-page-question-box-top-divider')
                div(class='question-page-question-box-category')
                    p(class='question-page-question-box-category-paragraph')=`${question.Category.dataValues.name}`
                //- if question.userId === user.id
                if locals.authenticated
                    if isQuestionAsker
                        div(class='question-page-delete-and-edit-question')
                            i(class="fas fa-trash delete-question-btn question-page-delete-question-icon" id = question.id)
                            i(class="fas fa-edit edit-question-btn question-page-edit-question-icon" id = question.id)
                        div(class = "ask_question editQuestionForm")
                            div(class = 'title') Edit Your Question
                                div(class = 'details')
                                    form(action=`/askQuestions/${question.id}` method="post")
                                        input(type="hidden" class="questionToEditId" value=question.id)
                                        input(type="hidden", name="_csrf", class='csrfEdit' value=csrfToken)
                                        div(class='form-field-div')
                                            div(class='form-group')
                                                label(for='title') Title
                                                input(type='text' name='title' class="edit-question-title-field" value=question.title)
                                        div(class='ask-question-form-spacing')
                                        div(class='form-field-div')
                                            div(class='form-group')
                                                label(for='text') Question
                                                    textarea(name='text' class='form-control edit-question-text-field')=question.text
                                        div(class='form-field-div')
                                            div(class='form-group')
                                                label(for='chosenCategory') Choose a Category
                                                    select(name='chosenCategory', id="" class='edit-question-category-field')
                                                        each category in categoryList
                                                            option(value=category.id)=category.name
                                        div()
                                            button(type="submit" class ="ask-question-button submit-question-edit-button") Submit
                                            button(type="submit" class="ask-question-button cancel-edit-question-button") Cancel
                                //- div(class='ask-question-form-spacing')
                                //-     +field("Question", "text", question.text, "textarea")
                                //- div(class='form-group')
                                //-     label(for='chosenCategory') Choose a Category
                                //-     select(name='chosenCategory', id="")
                                //-         each category in categoryList
                                //-             option(value=category.id)=category.name
                                //- div()
                                //-     button(type="submit" class ="ask-question-button") Submit
                    div(class='.question-page-question-voting-icons')
                        - var foundPositiveVote = false
                        - var foundNegativeVote = false
                        each vote in question.dataValues.QuestionVotes
                            if vote.userId = question.userId
                                if vote.voteSum === 1
                                    - foundPositiveVote = true;
                                if vote.voteSum === -1
                                    - foundNegativeVote = true;
                        if foundPositiveVote === true
                            i(class="far fa-caret-square-up question-page-upvote-question-icon upvoted-arrow", id=question.id)
                        else
                            i(class="far fa-caret-square-up question-page-upvote-question-icon", id=question.id)
                        if foundNegativeVote
                            i(class="far fa-caret-square-down question-page-downvote-question-icon downvoted-arrow" id=question.id)
                        else
                            i(class="far fa-caret-square-down question-page-downvote-question-icon" id=question.id)
                else
                    div(class='.question-page-question-voting-icons')
                        i(class="far fa-caret-square-up question-page-upvote-question-icon unclickable-vote-button", id=question.id)
                        i(class="far fa-caret-square-down question-page-downvote-question-icon unclickable-vote-button" id=question.id)
                div(class='question-page-question-box-score')
                    p=`Score: `
                        span(class='question-page-question-score')=question.dataValues.score
                div(class='question-page-question-box-userName')
                    p=`Asked by: ${question.Profile.dataValues.userName}`
        if locals.authenticated
            form(action=`/answerquestion/${question.id}`, method="post" )
                textarea(name="text" id="answer-text-box")
                button( class = "answer-question-button" id = question.id type="submit") Submit
        else
            span Please #[a(href="/users/login") log in] to answer questions.
        div(id='answersDiv')
            each answer in question.dataValues.Answers
                div(id=`answer-${answer.id}-div`)=answer.text
                    if locals.authenticated
                        if answer.userId = user.id
                            a(class = "delete-answer-btn" href="#", id = answer.id) Delete answer

                    div(class='question-page-answer-box')
                        p=`Answer Score: `
                            span(class = 'question-page-answer-score' id=`A${answer.id}-score`)=answer.score
                        if locals.authenticated
                            div(class='.question-page-answer-voting-icons')
                                - var foundPositiveVote = false
                                - var foundNegativeVote = false
                                each vote in answer.dataValues.AnswerVotes
                                    if vote.userId = answer.userId
                                        if vote.voteSum === 1
                                            - foundPositiveVote = true;
                                        if vote.voteSum === -1
                                            - foundNegativeVote = true;
                                if foundPositiveVote === true
                                    i(class="far fa-caret-square-up answer-upvote-arrow upvoted-arrow", id=`A${answer.id}-up`)
                                else
                                    i(class="far fa-caret-square-up answer-upvote-arrow", id=`A${answer.id}-up`)
                                if foundNegativeVote
                                    i(class="far fa-caret-square-down answer-downvote-arrow downvoted-arrow" id=`A${answer.id}-down`)
                                else
                                    i(class="far fa-caret-square-down answer-downvote-arrow" id=`A${answer.id}-down`)
                        else
                            div(class='.question-page-answer-voting-icons')
                                i(class="far fa-caret-square-up answer-upvote-arrow unclickable-vote-button", id=`A${answer.id}-up`)
                                i(class="far fa-caret-square-down answer-downvote-arrow unclickable-vote-button" id=`A${answer.id}-down`)

