extends layout.pug
include utils.pug
    append head
        script(src="https://kit.fontawesome.com/898a425ea4.js" crossorigin="anonymous")
        script(src="/javascripts/question.js")
    //shove each question into a  separate DIV with an ID of its ID?
    // delete button to have the same id as the answer it's attached to

    block content
        div(class='question-page-question-box-container')
            div(class='question-page-question-box')
                div(class='question-page-question-title-text-wrapper')
                    div(class='question-page-question-box-title')=question.title
                hr(class='question-page-question-box-top-divider')
                div(class='question-page-question-box-text')
                    p=question.text
                hr(class='question-page-question-box-top-divider')
                div(class='question-page-question-box-category')
                    p=`${question.Category.dataValues.name}`
                if locals.authenticated
                    div(class="question-page-question-voting-icons")
                        div(class='question-page-upvote-question-icon')
                            i(class="far fa-caret-square-up", id=question.id)
                        div(class='question-page-downvote-question-icon')
                            i(class="far fa-caret-square-down" id=question.id)
                div(class='question-page-question-box-score')
                    p=`Score: ${question.dataValues.score}`
                div(class='question-page-question-box-userName')
                    p=`Asked by: ${question.Profile.dataValues.userName}`
        if locals.authenticated
            form(action=`/answerquestion/${question.id}`, method="post")
                textarea(name="text")
                button(type="submit") Submit

            div(id='answersDiv') Answers:
                each answer in question.dataValues.Answers
                    div(id=`answer-${answer.id}-div`)=answer.text
                        if answer.userId = user.id
                            a(class = "delete-answer-btn" href="#", id = answer.id) Delete answer
                        div=p=`Answer Score: ${answer.score}`
                            span Vote on answer quality
                            <i class="fas fa-plus-circle"></i>
                            <i class="fas fa-minus-circle"></i>
            div(id = 'deleteDiv')
                if isQuestionAsker
                    a(class = "delete-question-btn" href="#", id = question.id) Delete question
        else
            span Please #[a(href="/users/login") log in] to answer questions.
            div(id='answersDiv') Answers:
                each answer in question.dataValues.Answers
                    div=answer.text
